<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huetoyou.chatexchange">

    <!-- For obvious reasons -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For accessing account data -->
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <!-- For selecting from logged in accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <!-- Authenticator activity -->
        <activity android:name=".auth.AuthenticatorActivity" />

        <!-- Authenticator service -->
        <service android:name=".auth.AuthenticatorService"
            android:permission="">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Backend service -->
        <service android:name=".backend.BackendService" />

        <!-- Firebase services -->
        <service android:name=".firebase.FirebaseService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FirebaseMessaging"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="96d80cfeac7fcf7aec8fc104086331c45258ab0e" />

        <activity android:name=".ui.activity.AboutActivity" />
        <activity
            android:name=".ui.activity.PreferencesActivity"
            android:label="Preferences" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.WebViewActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TutorialActivity" />
        <activity android:name=".ui.activity.IntroActivity" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>